/*STYLING FOR QUICK CREDIT WEBSITE */
body{
	color: black;
	font-family: 'dosis';
    font-size: 18px;
    margin: 0;
    padding: 0;
}

html { 
  background: url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* wrapper for page content*/
.pageContent{
    background-color: rgba(87, 99, 109, 0.83);
    padding: 7px;
    max-width: 800px;
    text-align: justify;
    margin: 0 auto;
    
}
/* sign-in and sign-up forms*/
.formContainer{
    background-color: rgba(87, 99, 109, 0.83);
    padding: 0px 15px 15px 15px;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 30px;
}
.formContainer h2{
    text-align: center;
    font-weight: 200;
}

.formContainer .inputField{
    position: relative
}

.formContainer .inputField input{
    width: 100%;
    padding: 3% 0;
    font-size: 16px;
}
.formContainer .inputField label{
    font-size: 20px
}
.formContainer input[type="submit"]{
    font-family: 'dosis';
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
}
.formContainer input[type="submit"]:hover{
    background-color: darkgray;
    
} 

/* Large screens */
@media (min-width: 600px){

    /* Acknowledge icons author only when the icons are visible */
    #attrib{
    display: none;
    }
}



    /* small screens */
    @media (max-width: 600px){

        #slogan{
            display: none;
        } 
        
        #smallScreenSlogan{
            font-size: 16pt;
            margin-left: 20px;    
            color: black;
            font-weight: lighter;
            margin-right: 25px;
        }
        

        /* hide menu bar when screen size is less than 600px wide*/
        #menu_bar{
        display: none;
        
    }

        
}

    .menu_item{
        font-size: 20px;
        float: right;
        margin-right: 20px;
        margin-top: 13px;        

    }

    .menu_item a{
        color: white;
        text-decoration: none;
        text-align: center; 
        

    } 
    
/* for small screens, use icons instead of text in menu bar */    
#smallScreenMenuBar{
    height: 55px;
    background-color: rgba(169, 169, 169, 0.65);
}
#topbar{
    height: 85px;
    background-image: linear-gradient(to right, black, rgba(169, 169, 169, 0.5))
}

#logo{
    height: 75px;
    float: left;
    margin-right: 15px;
    margin-left: 5px;
}

#slogan{ 
    color: white;
    float: left;
    font-size: 18pt;
    line-height: 0px;
    margin-left: 20px;     
    font-weight: lighter;
    
}

@media (min-width: 601px){

    #menu_bar{
        height: 50px;
        background-color: rgba(169, 169, 169, 0.65);;
    }

    #punch_line{
        font-size: 20px;
        float: left;
        margin-left: 20px;
        margin-top: 13px;
        color: black;

    }

    .menu_item{
        font-size: 20px;
        float: right;
        margin-right: 20px;
        margin-top: 13px;        

    }

    .menu_item a{
        color: black;
        text-decoration: none;
        text-align: center;
    }
    
    .menu_item a:hover{
        text-transform: uppercase;
        color: white;
        text-decoration: underline;
    }
    
    #smallScreenMenuBar{
        display: none;
    }
    
    #attrib{
    display: none;
}

}

.iconImage{
    height: 25px;
    width: 25px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.iconImage:hover{
    height: 30px;
    width: 30px;
}

@media(max-width:400px){
    .iconImage{
        height: 20px;
        width: 20px;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
        }

    .iconImage:hover{
        height: 22px;
        width: 25px;
    }
    
    #smallSloganText{
        display: none;
    }
    
    #smallScreenMenuBar{
        height: 35px;
        text-align: center;
    }
    
    .pageContent{
        margin-left: 2px;
        margin-right: 2px;
    }
    .formContainer{
        margin-left: 30px;
    }

    
}

.msg a{
    color: white;
}
.msg a:hover{
    text-transform: uppercase;
}


}

@media(max-width:600px){
    .formContainer{
        width:95%
    }
    .pageContent{
        padding: 20px;
    }
}

#avatar{
    width: 120px;
    float: left;
    margin: 20px;
}
#welcome{
    clear: left;
    font-size: 24px;
    font-weight: 600
}

.links{
    text-align: center;
    font-size: 23px;
    padding: 10px;
    background-color: rgba(169, 169, 169, 0.24);
    width: 75%;
    margin: 0 auto;
    border-bottom-style: solid;
        
}

.links a{
    color: white;
    text-decoration: none;
}

.links a:hover{
    font-size: 28px;
}

.ammounts{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    margin: 20px;
    font-family: monospace
}

.ammounts:hover{
    background-color: darkgray;
}
.btn{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 10px;
    background-color: transparent;
}
.btn a{
    font-family: monospace;
    color: white;
    text-decoration: none;
}

.btn:hover{
    background-color: rgba(210, 105, 30, 0.29)
}

a{
    color: white;
}
#attrib{
    font-size: 14px;
}









